html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  vertical-align: middle;
}

label {
  margin-bottom: 0;
}

#chefContainer,
#pizzaCarousel {
  display: -webkit-box;
  display: flex;
}

.ip_y1_btn_wrapper {
  align-self: flex-end;
  left: 2rem;
  position: absolute;
}

#pizzaCarousel {
  -webkit-box-flex: 2;
          flex: 2 0 64%;
}

#chefContainer {
  -webkit-box-flex: 1;
          flex: 1 0 34%;
  overflow: hidden;
}

.custom-nav {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 33;
  background: 0 0 !important;
}

.absolute-logo {
  margin-left: -15px;
}

.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-flex: 1;
          flex: 1 0 100vw;
}

.ip_y1 {
  -webkit-box-align: center;
          align-items: center;
}

blockquote.blockquote.flex-start {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  left: 2rem;
  font-size: 2rem;
  width: 28rem;
}

.flex-start * {
  font-family: "DM Serif Text", serif !important;
}

.ip_y1_btn_wrapper a,
.ip_y2_btn_wrapper a {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  background: #ff5252;
  border: none;
}

.ip_y1_btn_wrapper a:hover,
.ip_y2_btn_wrapper a:hover {
  color: #fff;
}

.ip_y1_btn_wrapper a {
  border-radius: 0 !important;
}

.ip_y2_btn_wrapper a {
  border-radius: 24px;
}

.custom-carousel {
  width: 100%;
}

.navbar .nav-item {
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.pl_y1 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  -webkit-box-pack: center;
          justify-content: center;
}

.pizza-item {
  margin-right: 1rem;
  height: 250px;
  margin-bottom: 1rem;
  display: inline-table;
  color: black;
  flex-basis: 250px;
}

.card-image .img-fluid {
  height: 200px !important;
}

.b_y1 {
  position: absolute;
  margin-top: 100px;
  height: 100%;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
}

.b_y1_pizza {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.b_y1_pizza_img,
.b_y1_pizza_details {
  flex-basis: 49%;
  padding-left: 20px;
  padding-right: 20px;
}

.b_y1_pizza_img {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 100%;
}

input[type=radio] {
  border: 1px solid #db8f8f;
  padding: 0.5em;
  -webkit-appearance: none;
}

input[type=radio]:checked {
  background: #f37d7d;
  outline: red;
  background-size: 9px 9px;
}

input[type=radio]:focus {
  outline-color: transparent;
}

.sizes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

fieldset {
  padding: 20px;
  display: inline-block;
}

fieldset > label {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
  vertical-align: middle;
}

input[type=radio] {
  margin-left: 20px;
  border: 1px solid #888;
}

.btn {
  font-family: "Roboto", sans-serif;
  /* font-size: medium; */
  font-weight: 600;
}

.custom-fieldset {
  display: block;
}

.custom-fieldset legend {
  width: inherit;
}

.custom-fieldset p {
  margin-right: 1rem;
  display: inline-block;
  border-radius: 5px;
  border: transparent;
  background: #F8F8F8;
  text-align: center;
  cursor: pointer;
  min-width: 60px;
}

.custom-fieldset p label {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
}

.custom-fieldset p label input[type=checkbox] {
  display: none;
}

.custom-fieldset p:hover {
  background: #e4584b;
  color: #fff;
}

.basket {
  display: -webkit-box;
  display: flex;
  padding: 10px 15px;
  background: #F8F8F8;
}

span.basket-btn-wrapper {
  background: #ccc;
  color: #444;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}

