#chefContainer,
#pizzaCarousel {
  height: 100vh;
}

#pizzaCarousel {
  -webkit-box-flex: 2;
          flex: 2 0 49vw;
}

#chefContainer {
  -webkit-box-flex: 1;
          flex: 1 0 49vw;
  overflow: hidden;
}

.custom-nav {
  display: block;
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 33;
  background: 0 0 !important;
}

.absolute-logo {
  margin-left: -15px;
}

.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-flex: 1;
          flex: 1 0 100vw;
}

.ip_y1 {
  margin-top: 100px;
}

